* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #800020; /* Vermelho bordô */
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    background-color: #800020; /* Vermelho bordô */
    color: white;
    padding: 15px;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4); /* Efeito de brilho */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #800020; /* Vermelho bordô */
    padding: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

main {
    padding: 20px;
}

h2, h3 {
    color: #800020; /* Vermelho bordô */
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

footer {
    background-color: #800020; /* Vermelho bordô */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
